<table>
    <thead>
        <tr>
            <th>로고</th>
            <th>리그명</th>
        </tr>
    </thead>
    <tbody>
        <% leagues.forEach(league => { %>
            <tr>
                <td class="center-text"><img src="<%= league.league.logo %>" alt="리그로고"></td>
                <td class="center-text"><%= league.league.name %></td>
            </tr>
        <% }); %>
    </tbody>
</table>
</body>
</html>