<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cup Leagues</title>
</head>
<body>
    <h1>컵 대회 정보</h1>
    <a href="/cupleagues/cupWorld">국가대항전</a>
    <a href="/cupleagues/leagueCup">리그 컵</a>
</body>
</html>
