<%- include('header') %>
    <h1>컵 대회 정보</h1>
    <div class="list-group">
        <a href="./cupleagues/cupWorld" class="list-group-item list-group-item-action">국가대항전</a>
        <a href="./cupleagues/leagueCup" class="list-group-item list-group-item-action">리그 컵</a>
    </div>
    <div>
        <p>추후 추가 예정</p>
    </div>
</body>
</html>
