<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>홈</h1>
    <nav>
        <li><a href="/">홈</a></li>
        <li><a href="/fixtures">경기 일정</a></li>
        <li><a href="/leagues">리그 정보</a></li>
        <li><a href="/cupleagues">컵 대회</a></li>
    </nav>
</body>
</html>