<%- include('header') %>
    <h1>리그 정보</h1>
    <div class="list-group">
        <a href="./leagues/England" class="list-group-item list-group-item-action">잉글랜드 리그</a>
        <a href="./leagues/France" class="list-group-item list-group-item-action">프랑스 리그</a>
        <a href="./leagues/Germany" class="list-group-item list-group-item-action">독일 리그</a>
        <a href="./leagues/Spain" class="list-group-item list-group-item-action">스페인 리그</a>
        <a href="./leagues/Italy" class="list-group-item list-group-item-action">이탈리아 리그</a>
    </div>
    <div>
        <p>추후 추가 예정</p>
    </div>
</body>
</html>