<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>리그 정보</h1>
    <a href="./England.ejs">잉글랜드 리그</a>
    <ul>
        <% leagues.forEach(league => { %>
            <li><%= league.league.name %> - <%= league.league.type %> - <%= league.country.name %></li>
        <% }); %>
    </ul>
</body>
</html>